@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main{
   background-image: url(Assets/Images/bg.jpeg);
   background-position: center center;
   background-size: max(1200px,100vw);
   background-repeat: no-repeat;
   height: 70vh; 
   position: relative;
}
.main .box{
    height: 70vh;
    width:100%;
    opacity: 0.64;
    position: absolute;
    top: 0;
    background-color: black;

}
nav{
    max-width: 60vm;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px
}
nav img{
    color: red;
    width: 120px;
    position: relative;
    z-index: 10;
    padding-left: 190px;

}
nav button{
    position: relative;
    z-index: 10;
}
.jai{
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px; 

}
.jai> :first-child(1){
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.jai> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.jai> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center; 
}
.seperate{
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}
.btn{
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.285);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    color: whitesmoke;
    
   
}
.btn-red{
   background-color: red; 
   color: white;
   padding: 1px 20px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
    font-weight: 400;
    
}
.btn-red-sm{
    background-color: red;
    color: white;
}
.jai-button{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    padding: 7px 101px 8px 14px;
    font-size: 16px;
    border-radius: 9px;
    background-color: rgba(23,23,23,0.7);
    display: flexbox;
    gap: 2px;
    font-weight: 900;
    border: 1px solid white;
    color: white;
    font-weight: 500;
}
